@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
    --cinza-claro: #666360;
    --cinza-escuro: #232129;
    --ebony-clay: #22313f;
    --verde: #05A678;
    --verde-escuro: #33806a;
    --vermelho: #ef4836;
    --sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar{
    background-color: var(--cinza-claro);
    width: 10px; 
}
::-webkit-scrollbar-thumb{
    background: var(--cinza-escuro);
}

::-webkit-scrollbar-thumb:hover{
    background-color: #05A678;
}

body{
    background-color: var(--cinza-claro);
}

main{
    padding: 1rem 0;
    margin-top: 1rem;
}

footer{
    text-align: center;
    background-color: var(--cinza-claro);
    color: #fefefe;
}

.invisivel{
    display: none;
}