@media screen and (min-width: 320px) and (max-width:768px) {
    .card {
        margin-top: 1rem;
    }

    .principal{
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        height: 95vh;
    }

    .card {
        font-size: 20px;
    }

    .modal h5 {
        font-size: 22px;
    }
}

@media screen and (min-width: 1030px) {
    main{
        height: 95vh;
    }

    .card{
        height: 70vh;
        object-fit: cover;
    }

    .modal-title{
        font-size: 20px;
    }
} 