@import url("../root.css");

.botoes button {
    border: none;
    border-radius: 6px;
    box-shadow: var(--sombra);
    height: 2.1rem;
    object-fit: cover;
    transition: 0.3s ease;
}

.cancelar {
    background-color: var(--ebony-clay);
    color: #fefefe;
}

.cancelar:hover {
    background-color: var(--cinza-escuro);
    height: 2.3rem;
}

.conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.enviar {
    background-color: var(--verde);
    color: #fefefe;
}

.enviar:hover {
    background-color: var(--verde-escuro);
    height: 2.3rem;
}

form {
    margin-top: 1.5rem;
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
}

.form-control {
    background-color: var(--cinza-escuro);
    border: none;
    border-radius: 12px;
    box-shadow: var(--sombra);
    color: #fefefe;
    height: 58px;
}

.form-control:active {
    background-color: var(--cinza-escuro);
    color: #fefefe;
}

.erro{
    background-color: var(--vermelho);
    border-radius: 6px;
    box-shadow: var(--sombra);
    color: #fefefe;
    margin-top: 3px;
    text-align: center;
}

.invisivel {
    display: none;
}

label {
    color: #fefefe;
}

main {
    height: 98vh;
}

.linha {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 90vw;
}


.textArea:focus {
    background-color: var(--cinza-escuro);
    color: #fefefe;
}

.titulo {
    color: #fefefe;
    margin-top: 35px;
    text-align: center;
}

input[type=text]:focus{
    color: #fefefe;
    background-color: var(--cinza-escuro);
}